* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #005187;
    color: white;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%); /* 🔥 centra perfectamente */
    width: auto; /* 🔥 ya no ocupa todo */
    z-index: 1000;
}

.nav-container {
    margin: 20px auto;
    min-width: 600px; 
    background: #ffffff;
    border-radius: 15px;
    padding: 10px 50px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #0f172a;
    font-weight: 600;
    display: inline-block;
}

nav ul li a:hover {
    color: #005187; /* 🔥 cambia color al pasar el mouse */
    transform: scale(1.1);
}

nav ul li a.active {
    color: #005187; 
    border-bottom: 2px solid #0f5c83;
}

.lang-switch span {
    color: #0f172a; /* 🔥 color oscuro */
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

.lang-switch span:hover {
    color: #005187;
    transform: scale(1.1);
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between; /* 🔥 mejor distribución */
    padding: 0 8%; /* 🔥 menos margen lateral */
    padding-top: 90px; 
}

.hero-text {
    max-width: 650px;
    margin-right: auto; /* 🔥 empuja todo a la izquierda */
}

.hero-text > * {
    margin-bottom: 15px;
}

.badge {
    background: #9fc5f8;
    color: #000000;
    padding: 7px 20px;
    font-size: 14px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.badge img {
    width: 18px;
    height: 18px;
}

.hero h2 {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
}

.hero h1 {
    margin-bottom: 25px;
    line-height: 1.2;
    font-size: 40px;
}

.hero p {
    margin-bottom: 30px;
    line-height: 1.6;
    font-size: 18px;
}

.hero-buttons {
    display: flex;
    gap: 15px; /* 🔥 espacio entre botones */
    margin-top: 10px;
}

.btn {
    padding: 12px 28px;
    border-radius: 12px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
}

.primary {
    background: #9fc5f8;
    color: #000;
    border: none;
    cursor: pointer;
}

.primary:hover {
    color: #005187;
    transform: scale(1.05);
}

.secondary {
    background: transparent;
    border: 2px solid #9fc5f8;
    color: #9fc5f8;
}

.secondary:hover {
    background: #005187;
    color: #fff;
    transform: scale(1.05);
}

.socials {
    margin-top: 20px;
}

.socials img {
    width: 30px;
    margin-right: 10px;
}

/* IMAGEN */
.hero-img img {
    width: 420px;
    height: 420px;       /* 🔥 IMPORTANTE */
    object-fit: cover;   /* 🔥 evita deformación */
    border-radius: 50%;   
}

/* RESPONSIVE */
@media (max-width: 900px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

}